* {
  box-sizing: border-box;  
  font-family: 'Roboto Mono', Inconsolata, Consolas, monospace;
}

body {
  background-color: #eee;
}

h1#title {
  text-align: center;  
  font-size: 3em;
}

ul#navigation {
  padding: 0;
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-between;
}

ul#navigation li {
  list-style: none;
  background-color: #FF1C1C;
  border-radius: 2%;
  margin-right: 2%;
}

ul#navigation li:hover {
  background-color: #ee0000
}

ul#navigation li a {
  text-decoration: none;
  padding: 1em 2em;
  font-size: 1.5em;
  color: black;
  display: block;
}

div#vis {
  margin: auto;
  width: 900px;
}

div.vis-ctl {
  display: flex;
  width: 20%;
  margin: 1em auto 0;
  justify-content: space-around;
}

div.vis-ctl button {
  background-color: #bb1C1C;
  border: none;
  padding: 1em;
  width: 45%;
}

div#home h1#title {
  font-size: 5em;
  margin-bottom: 0.2em;
  margin-top: 3%;
}

div#home ul#navigation {
  flex-direction: column;
  float: left;
  margin-left: 10%;
}

div#home ul#navigation li {
  width: 15em;
  text-align: center;
  margin-bottom: 2em;
}

div#home ul#navigation li a {
  font-weight: bold;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

ul#navigation #description {
  display: none;
  position: absolute;
  left: 40%;
  top: 30%;
 
  background-color: white;
  width: 25%;
  height: 25%;
  padding: 1em;
}

div#home ul#navigation a:hover + #description {
  display: initial;
}

.solid {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

div#background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
}

div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(240,240,240,0.6);
}

div#caption {
  background-color: #ff8c8c;
  
  text-align: center;
  
  position: relative;
  bottom: 7em;
  margin: 0 auto;
  padding: 1em;
  min-width: 10em;
  max-width: 20em;
}

div#node_data {
  float: left;
  margin: 0 auto;
  display: inline-block; 
  margin-left: 2em;
}
div#node_data h4 {
  text-align: center; 
}
div#node_data ul {
  padding: 0;
  display: inline-block;
}
div#node_data li {
  list-style: none;
}

.edge {
  stroke: black;
  stroke-width: 10;
}

.node {
  stroke-width: 6;
  stroke: black;
}

.compare {

}

.compare .panel {
  width: 50%;
  height: 100vh;
  background-color: orange;
float: left;
}

.compare .panel select {
  margin-top: 2em;
}
